altgraph
anyio
argon2-cffi
argon2-cffi-bindings
asgiref
async-generator
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
cffi
chardet
click
colorama
copyleaks
cx-Freeze
Cython
debugpy
decorator
defusedxml
dig
distlib
Django
docopt
entrypoints
exceptiongroup
fastjsonschema
filelock
Flask
future
futures
h11
harvester
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
lxml
MarkupSafe
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook-shim
numpy
outcome
packaging
pandocfilters
parso
pefile
pickleshare
Pillow
pipenv
platformdirs
prometheus-client
prompt-toolkit
psutil
PyAudio
pycparser
pygame
Pygments
PyInstaller
pyparsing
pyrsistent
PySocks
python-dateutil
python-dotenv
pytz
pywin32-ctypes
pywinpty
pyzmq
qtconsole
QtPy
rapidfuzz
regex
requests
scikit-learn
scipy
selenium
Send2Trash
six
sklearn
sniffio
sortedcontainers
soupsieve
sqlparse
terminado
testpath
threadpoolctl
tinycss2
tornado
tqdm
traitlets
trio
trio-websocket
typing_extensions
urllib3
virtualenv
virtualenv-clone
wcwidth
webdriver-manager
webencodings
websocket-client
Werkzeug
widgetsnbextension
wsproto
zipp
pipdeptree
gunicorn
